<!--<h1>App Component works!</h1>
<app-header></app-header>
<app-header></app-header>
<app-dashboard></app-dashboard>
<app-manage-customer></app-manage-customer>-->

<h1>Welcome to out Second SPA with webpack</h1>
<ul>
    <li>
        <button id="btn-customer" type="button">show mange customer component</button>
    </li>
    <li>
        <button id="btn-dashboard">show dashboard component</button>
    </li>
</ul>


<div id="outlet">
    <app-dashboard></app-dashboard>
    <app-manage-customer></app-manage-customer>
</div>