//h1{
//  color:red;
//}

#app{
  ul{
    position: absolute;
    //background-color: lightblue;
    width: 250px;
    margin: 0;
    padding: 0;
  }

  #outlet{
    margin-left: 250px;
    padding:10px;
    //background-color: green;
    //height: 500px;
  }
}

